.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  color: white;
}

.navbar-content {
  flex-grow: 1;
}

.drawer {
  width: auto;
  max-width: 9%;
  margin: 0;
}

/* Responsive drawer width */
@media (max-width: 1200px) {
  .drawer {
    max-width:12%;
  }
}

@media (max-width: 800px) {
  .drawer {
    max-width: 15%;
  }
}

@media (max-width: 600px) {
  .drawer {
    max-width: 20%;
  }
}

.navbar a {
  color: white;
  /* Default text color */
  text-decoration: none;
  font-size: 1.3rem;
  /* Default font size */
  transition: color 0.3s ease;
}

.drawer .MuiListItem-root {
  color: blue; /* Set text color to blue */
  text-align: right; /* Align text to the right */
  direction: rtl; /* Set text direction to right-to-left */
}

.drawer .MuiListItem-root:hover {
  background-color: orange; /* Slightly darker yellow on hover */
  color: #0000ff; /* Darker blue on hover */
}

.navbar a:hover {
  color: #007bff;
  /* Blue on hover */
}

/* Media queries for responsive font sizes and spacing */

/* For screens smaller than 1200px */
@media (max-width: 1800px) {
  .navbar {
    gap: 2rem;
    /* Reduce spacing */
  }
}

/* For screens smaller than 1000px */
@media (max-width: 1000px) {
  .navbar {
    gap: 2rem;
    /* Reduce spacing */
  }
}

/* For screens smaller than 800px */
@media (max-width: 800px) {
  .navbar {
    gap: 1.7rem;
    /* Reduce spacing */
  }
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  .navbar {
    gap: 1.1rem;
    /* Reduce spacing */
  }
}
